*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/*NAVBAR*/
.navbar{
    width:100%;
    height:100px;
    border:1px solid blue;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
    display:flex;
}
/*.nav{
  flex-basis:300px;
  border:1px solid red;
}*/

/*Navbar Logo*/
.navbar-icon{
    border:1px solid red;
    width:200px;
    
}
.navbar-icon img{
    height:100%;
   
    
}
/* Important:-Navbar buttons are not aligning in center*/
.navbar-buttons{
    border:1px solid orange;
    width:600px;   
}
.navbar-buttons ul{
    display:flex;
    list-style: none;
    justify-content:space-around;
    flex-wrap:nowrap;
   
}
.navbar-buttons ul li{
    align-items:center;
    height:30px;
    padding:30px;
    font-size:20px;
   
}
.navbar-buttons ul a{
    text-decoration:none !important;
    align-items:center;
    height:40px;
    padding:0px 12px;
}
/*Navbar Search*/
.navbar-search{
    border:1px solid green;
    width:400px;
    padding:40px;
    

}

.fa-search:before {
    content: "\f002";}
.navbar-login{

    width:328px;
    border:1px solid blue;
}
/*Background image*/
.background-pic-area{
    width:100%;
    border:1px solid red;
    height:750px;
    top:100px;
    display:flex;
    position:absolute;
}
.background{
    width:600px;
    height:600px;
    border:1px solid orange;
    position:relative;
    left:150px;
    top:80px;
}
/*Search With Images Area*/
.search-with-images{
    display:flex;
    width:100%;
    height:500px;
    position:relative;
    top:850px;
    border:1px solid blue;
    align-items:space-around;
    justify-content:center;
    
    align-items:center;
}
.search{
    display:flex;
    border:1px red solid;
    position:relative;
    height:350px;
    width:300px;
    margin:120px;
   
}
/*Fashion Words*/
.fashion-words{
    border:1px solid blue;
    position:relative;
    height:300px;
    width:100%;
    top:850px;
}
/*Brand*/
.brands{
    height:200px;
    width:100%;
    border:1px red solid;
    position:relative;
    top:850px;
}
/*Footer*/
.footer{
    border:1px solid green;
    width:100%;
    height:500px;
    position:relative;
    top:850px;
}
